@font-face {
    font-family: 'Dance';
    src: url('../public/Fonts/DancingScript-VariableFont_wght.ttf');
}

body {
    margin: 0;
    font-family: Dance;
    letter-spacing: 1.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}